@use '../../../style/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.label {
    font-size: 14px;
    color: $color-300;
    .required {
        color: $color-error;
        margin-left: 2px;
    }
}

.input {
    width: 100%;
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid $color-700;
    border-radius: 8px;
    color: $color-white;
    outline: none;
   /*  margin-bottom: 15px; */
    &:focus {
        border-color: $color-primary;
    }
    &.isError {
        border-color: $color-error;
    }
    &.hasIcon {
        padding-left: 45px;
    }
}

.errorText {
    font-size: 12px;
    color: $color-error;
    margin-top: 4px;
}

/* 인풋과 아이콘을 감싸는 박스 */
.inputWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    top: 13px;
    left: 10px;
    color: $color-500;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
