@use '../../../style/variables' as *;

.container {
    display: flex;
    gap: 10px;

    label {
        flex: 1;
        padding: 10px;
        border: 1px solid $color-300;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        color: $color-600;
        font-weight: 500;
        transition: all 0.2s;

        input { display: none; }

        &:hover { background-color: $color-50; }

        &.active {
            border-color: $color-primary;
            background-color: rgba($color-primary, 0.1);
            color: $color-primary;
        }
    }
}