@use '../../../style/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.label {
    font-size: 14px;
    color: $color-300;
    .required { color: $color-error; margin-left: 2px; }
}

.textarea {
    width: 100%;
    padding: 16px;
    background-color: transparent;
    border: 1px solid $color-700;
    border-radius: 8px;
    color: $color-white;
    outline: none;
    resize: none;
    min-height: 100px; 
    font-family: inherit;
    line-height: 1.5;

    &:focus { border-color: $color-primary; }
    &.isError { border-color: $color-error; }
    &::placeholder { color: $color-500; }
}

.errorText {
    font-size: 12px;
    color: $color-error;
    margin-top: 4px;
}