@use "../../../style/variables" as *;

.timerWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid $color-700;
    font-size: 13px;
    color: $color-white;
    /* min-width: 280px; */
}

.timeText {
    strong {
        color: $color-warning;
        font-family: monospace;
        margin-left: 4px;
        min-width: 40px; 
        display: inline-block;
        text-align: center;
    }
}
