@use '../../style/variables' as *;

.header {
    width: 100%;
    height: 100px;
    background-color: $color-800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    color: $color-white;
}

/* 검색창 영역 (Input 컴포넌트 감싸기용) */
.searchBar {
    width: 300px;
}

/* 우측 메뉴 */
.rightMenu {
    display: flex;
    align-items: center;
    gap: 20px;

    
    .welcomeMsg {
        font-size: 16px;
        color: $color-400; 

        strong {
            color: $color-white; 
            font-weight: 700;
        }
    }

    .profile {
        display: flex;
        align-items: center;
        cursor: pointer;

        .avatar {
            width: 40px;
            height: 40px;
            background-color: $color-700;
            border-radius: 50%;
            /* background-image: url(...) 나중에 추가 */
        }
    }
}