@use '../../style/variables' as *;

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $color-600;
    }
}

.badge {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    
    &.admin { background-color: rgba($color-primary, 0.2); color: $color-primary; }
    &.user { background-color: rgba($color-500, 0.2); color: $color-500; }
}