@use '../../style/variables' as *;

.header {
    margin-bottom: 24px;
    h2 { font-size: 24px; color: $color-white; margin-bottom: 8px; font-weight: 700;}
    p { color: $color-500; font-size: 14px; }
}

.tableWrapper {
    background-color: $color-800; 
    border-radius: 12px;
    overflow: hidden; 
    border: 1px solid $color-700;
}

.table {
    width: 100%;
    border-collapse: collapse;
    color: $color-white;
    font-size: 14px;

    th {
        background-color: $color-900; 
        padding: 16px;
        text-align: left;
        color: $color-400;
        font-weight: 500;
        border-bottom: 1px solid $color-700;
    }

    td {
        padding: 16px;
        border-bottom: 1px solid $color-700;
    }

    tr:last-child td { border-bottom: none; }
    tr:hover { background-color: rgba(255,255,255, 0.02); }
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $color-600;
    }
}

.badge {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    
    &.admin { background-color: rgba($color-primary, 0.2); color: $color-primary; }
    &.user { background-color: rgba($color-500, 0.2); color: $color-500; }
}

.empty {
    text-align: center;
    padding: 40px;
    color: $color-500;
}