@use '../../style/variables' as *;

.container {
    max-width: 900px;
    margin: 0 auto;
}

.todoList {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: $color-800; 
    padding: 16px 24px;
    border-radius: 12px;
    margin-bottom: 12px;
    border: 1px solid $color-700;
    color: $color-white; 
    transition: all 0.2s;

    &:hover {
        transform: translateX(5px);
        border-color: $color-primary;
    }

    &.done {
        opacity: 0.5;
        .text {
            text-decoration: line-through;
            color: $color-500;
        }
    }
}

.checkGroup {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        accent-color: $color-primary;
        cursor: pointer;
    }

    .text {
        font-size: 16px;
        font-weight: 500;
    }

    .date {
        font-size: 12px;
        color: $color-300; 
        background-color: rgba(255,255,255, 0.1);
        padding: 4px 8px;
        border-radius: 4px;
    }
}

.deleteBtn {
    background: none;
    border: none;
    color: $color-500;
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
    
    &:hover { color: $color-error; }
}