/* color */

/* MAIN */
$color-primary: #27A376;
$color-secondary: #FFD023;

/* ALERTS */
$color-success: #22C55E;
$color-warning: #FACC15;
$color-error: #F75555;

/* GreyScale */
$color-50: #FAFAFA;
$color-100: #F7FAFC;
$color-200: #EDF2F7;
$color-300: #E2E8F0;
$color-400: #CBD5E0;
$color-500: #A0AEC0;
$color-600: #718096;
$color-700: #4A5568;
$color-800: #2D3748;
$color-900: #1A202C;

/* Additional Colors */
$color-white: #FFFFFF;
$color-orange: #FE964A;
$color-blue: #0062FF;
$color-purple: #8C62FF;