@use '../../../style/variables' as *;

.tableWrapper {
    background-color: $color-800; 
    border-radius: 12px;
    overflow: hidden; 
    border: 1px solid $color-700;
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    color: $color-white;
    font-size: 14px;

    th {
        background-color: $color-900; 
        padding: 16px;
        text-align: left;
        color: $color-400;
        font-weight: 500;
        border-bottom: 1px solid $color-700;
    }

    td {
        padding: 16px;
        border-bottom: 1px solid $color-700;
        vertical-align: middle; 
    }

    tr:last-child td { border-bottom: none; }
    tr:hover { background-color: rgba(255,255,255, 0.02); }
}

.empty {
    text-align: center;
    padding: 60px;
    color: $color-500;
}