.group {
    display: flex;
    width: 100%;

    & > button,
    & > a {
        flex: 1;
    }
}

/* 방향 */
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}

/* 정렬 */
.start {
    justify-content: flex-start;
    align-items: flex-start;
    & > button {
        flex: none;
    }
}
.center {
    justify-content: center;
    align-items: center;
    & > button {
        flex: none;
    }
}
.end {
    justify-content: flex-end;
    align-items: flex-end;
    & > button {
        flex: none;
    }
}
.stretch {
    align-items: stretch;
}
